@charset "UTF-8";

/*#9A1528 - vermelho
#D13833 - vermelho
#1D2060 - azul
#121E5A - azul


*/

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    margin: 2px;
    color: #D13833;
    
}

menu {
    margin: 2px;
    padding: 2px;
    box-sizing: 2px;
    background-color: #1D2060;
    color: white;
    border-radius: 5px;


}

menu  ul  li a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    display: inline-block;

}

article {
    box-sizing: 2px;
    background-color: rgba(33, 44, 95, 0.418);
}
h1, h2 {
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.459);
}

p {
    text-align: justify;
    color: black;
}


div {
    box-sizing: 2px;
    padding: 5px 5px;
    background-color: lightgrey;
    border-radius: 5px;
    font-size: 0.8em;
}

footer {
    box-sizing: 1px;
    padding: 0px;
    background-color: grey;
    color: white;
    margin: auto;
    text-align: center;
  
}

#foot {
    text-align: center;
    color: white;
    font-size: .8em;
    font-weight: bold;
} 